html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Inria Sans", serif;
}

html,
body {
  overflow-x: hidden;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #ffffff;
}

footer {
  left: 0;
  bottom: 0;
  text-align: left;
  position: absolute;
  width: 20vw;
  padding: 0px 0px 20px 20px;
}

#background {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/Nepal-14-min.jpg");
  background-size: cover;
}

#mission {
  background-image: url("../images/Swayambhunath_161106-97.jpg");
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.pages {
  display: flex;
}

.topnav .link {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.no-hover:hover {
  background-color: transparent;
}

.topnav .active {
  border-bottom: 6px solid #ff9016;
  box-sizing: border-box;
}

.topnav .house-icon {
  width: 32px;
  height: auto;
  margin-right: 10px;
}

.details {
  background-color: rgba(255, 254, 254, 0.904);
  opacity: 90%;
  width: 50%;
  margin: auto;
  margin-top: 75px;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.explore-button {
  background-color: #ea6e65;
  margin: 20px;
  font-weight: 600;
  font-size: larger;
  border: none;
  padding: 20px 40px 20px 40px;
  align-content: center;
}

.explore-button br {
  size: 80%;
}

.large-heading {
  font-size: 40px;
  color: black;
  font-family: "Inria Sans", serif;
  font-weight: bold;
}

.large-heading:hover {
  background-color: #f0963c;
  color: rgb(255, 255, 255);
}

.small-heading {
  font-size: 20px;
  color: black;
  font-family: "Inria Sans", serif;
  margin: 3px;
}

.side-image {
  border-radius: 10px;
  float: right;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.376);
}

.mission-container {
  margin-top: 50px;
  position: relative;
  height: 800px;
  width: 100%;
  overflow: hidden;
}

.mission-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mission-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 8rem;
}

.mission-text {
  position: absolute;
  width: 50%;
  transform: translateX(-50%);
  top: 60%;
  left: 50%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.goals {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  width: 100%;
  height: 15%;
}

.goals span {
  font-weight: bold;
}

table {
  margin-top: -10px;
  width: 100%;
  table-layout: fixed;
}

td {
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

td.content {
  margin-top: 0;
  width: 70%;
}

footer .hero {
  color: #c0bbbb;
}

footer .sub-hero {
  color: white;
}

/* ----------------------------------- Image Slider ------------------------------------------*/
.image-slide-container {
  height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  width: 100;
  display: flex;
  align-items: center;
}

.mySlides img {
  display: block;
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #222222;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* -------------------------------------CSS Fonts --------------------------------------------*/
/* Imported CSS */
.inria-sans-light {
  font-family: "Inria Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}

.roboto-font {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lato {
  font-family: "Lato";
}
